@font-face {
  font-family: "mlem";
  src: url(./assets/fonts/SuperPeanut.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(255, 247, 230);
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 247, 230);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffc1c1;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 20px;
}
nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: larger;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffc1c1;
}
.contact-button {
  background-color: #ffc1c1; /* Light pink background */
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: auto;
}
.contact-button:hover {
  background-color: #ff8888;
}

/* Main Banner */
.main-banner {
  text-align: center;
  padding: 60px 20px;
  background-image: url("./assets/background-pattern.png"); /* You can add an abstract background image */
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner h1 {
  font-family: "mlem", serif;
  font-size: 97px;
  color: rgb(167, 131, 211); /* font color of the main title*/
  text-shadow: -2px -2px 0 black,
    /* Black outline (top-left) */ 2px -2px 0 black,
    /* Black outline (top-right) */ -2px 2px 0 black,
    /* Black outline (bottom-left) */ 2px 2px 0 black,
    /* Black outline (bottom-right) */ 4px 4px 5px rgba(128, 0, 128, 0.7); /* Purple shadow (blurred for effect) */
  margin-bottom: -80px;
}
.second-title h2 {
  text-align: center;
  font-size: larger;
  margin-bottom: 100px;
}
/* Dessert Gallery */

.gallery-images {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: -20px;
}

.gallery-images img {
  border-radius: 80%;
  width: 80px;
  height: 70px;
  transform: scale(1.7);
  object-fit: cover;
  object-position: bottom;
}

/* Upcoming Events */
.upcoming-events {
  text-align: center;
  padding: 40px 30px;
  margin-top: 40px;
  background-color: rgb(255, 247, 230);
}

.upcoming-events h2 {
  font-size: 24px;
  color: brown;
}

.upcoming-events p {
  font-size: 16px;
}

.upcoming-events h3 {
  font-size: 50px;
  color: brown;
}

/* Footer */
footer {
  background-color: rgb(255, 247, 230);
  text-align: center;
  padding: 20px;
  border-top: 1px solid brown;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
